.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  min-width: 500px;
  z-index: 10000;
  background-color: var(--bg);
  overflow: hidden;
}

.container > *:not(.close_btn) {
  white-space: nowrap;
  min-width: 500px;
}
.close_btn {
  display: grid;
  place-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: unset;
  min-width: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--pink);
  padding: 0.25em;
  border-radius: 2px;
}

.close_btn svg {
  rotate: 45deg;
  width: 25px;
  height: 25px;
}
.container em {
  font-style: italic;
  color: var(--blue);
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cta {
  display: flex;
  gap: 1em;
  justify-content: start;
}

.cta button:last-child {
  border-color: var(--pink);
}

.cta button:last-child:hover {
  background-color: var(--pink);
}

.container textarea {
  font-family: var(--bricolage--font);
  padding: 0.5em;
  font-size: clamp(1em, 2vw, 1.2em);
  background-color: hsl(0, 0%, 9%);
  border-radius: 20px;
  border: 2px solid var(--blue);
  max-height: 60svh;
  min-height: max-content;
  resize: vertical;
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 100%;
  }
}
