/* Layout ---------------------- */
.layout {
  padding: 1em;
}
.layout nav {
  display: grid;
  grid-template-columns: 1fr auto;
}
.layout nav h1 {
  font-size: 1.2em;
  font-family: var(--kg-font);
  font-weight: 100;
}
.profile {
  display: flex;
  gap: 1rem;
  place-items: center;
}
.profile button {
  --clr: transparent;
  color: white;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 3px solid var(--clr);
  transition: background-color 0.15s ease;

  &:hover,
  &:focus-visible {
    background-color: var(--clr);
  }
}

.profile button:first-child {
  --clr: var(--green);
}
.profile button:last-child {
  --clr: var(--pink);
}
/* Layout ---------------------- */

.main {
  position: relative;
  display: grid;
  gap: 2em;
  padding: 5em 7.5svw;
}

.add_btn {
  position: relative;
  color: var(--green);
  font-size: clamp(1rem, 2vw, 1.2rem);
  border: 2px solid var(--green);
  width: fit-content;
  padding: 0.4em 0.65em;
  border-radius: 50px;
  transition: background-color 0.15s ease;
}

.add_btn:hover,
.add_btn:focus-visible {
  background-color: var(--green);
  color: white;
}

.galeries {
  display: flex;
  gap: 1.5em;
}

@media screen and (max-width: 500px) {
  .layout nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    place-items: center;
  }

  .galeries {
    display: flex;
    gap: 1em;
    max-width: 100%;
    overflow-x: auto;
    padding-block-end: 1em;
  }
}
