.article h2 {
  font-size: clamp(1.5em, 2vw, 2em);
}
.article {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 300px;
  aspect-ratio: 5 / 6;
  z-index: 10;
  padding: 0.5em;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--pink);
  transition: all 0.2s ease-out;
}

.article:hover {
  cursor: pointer;
  border: 2px solid var(--green);
  animation: floating 0.5s ease-in-out forwards;
}

.article > *:not(img) {
  height: fit-content;
}
.article:has(:not(img)) {
  background-color: hsl(300, 100%, 29%);
}

.article img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 3);
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
  filter: brightness(0.3);
  user-select: none;
}

.article img:nth-child(2) {
  left: calc(100% / 3);
}

.article img:last-child {
  right: 0;
  left: unset;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
