.main {
  display: grid;
  padding: 2em;
  gap: 1em;
  width: 100%;
}

.galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
  width: 100%;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

.filter select {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 200px;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: 1px solid var(--pink);
  cursor: pointer;
  font-family: var(--bricolage-condensed--font);
  font-size: 1.1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url('../assets/icons/down_arrow_dark.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
}

.header {
  padding: 2em;
}

.galery li:hover {
  .action {
    visibility: visible;
    translate: 0 0%;
    opacity: 1;
  }
}
.action {
  position: absolute;
  bottom: 5px;
  display: flex;
  width: 100%;
  translate: 0 50%;
  max-height: 20%;
  border-radius: 3em;
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(2px);
  overflow: hidden;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}

.action button {
  border: none;
  border-radius: 0px;
  padding: 0;
  width: 100%;

  &:first-child {
    padding: 0.8em;
  }
  &:last-child {
    padding: 0.5em;
  }

  &:hover {
    background-color: hsla(0, 0%, 100%, 1);
  }
}
.action button img {
  object-fit: contain;
}

.galery li img:nth-child(3),
.galery li:not(:has(button)) img:nth-child(2),
.galery li:has(button) img:nth-child(4) {
  position: absolute;
  top: -10px;
  left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 0;
  object-fit: contain;
  filter: drop-shadow(3px 3px 0px var(--bg));
}

.galery li:not(:has(button)) img:nth-child(3),
.galery li:has(button) img:nth-child(4) {
  bottom: -8px;
  left: 45px;
}

.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.selected {
  position: relative;
  border: 2px solid var(--green);
}
.galery > li:has(.selected)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--green);
  filter: opacity(0.2);
}

.galery > li {
  position: relative;
  width: 100%;
  max-width: 250px;
  list-style-type: none;
  aspect-ratio: 4 / 6;
  cursor: pointer;
}

.validateSvg {
  z-index: 20;
}
.validateSvg g path {
  stroke: var(--pink);
  fill: transparent;
  filter: brightness(0.5);
  transition: all 0.2s ease-out;
}
.validateSvg:hover g path {
  cursor: pointer;
  filter: brightness(1);
}
.validateSvg[data-validate='1'] g path {
  stroke: var(--green);
  filter: brightness(1);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  height: 200px;
}
.back {
  position: relative;
  display: flex;
  padding-top: 1em;
  padding-left: 3em;
  font-weight: 600;
  font-size: larger;
  height: fit-content;
}
.back em {
  color: var(--blue);
}
.back > img {
  position: absolute;
  rotate: 100deg;
  scale: -1 1;
  left: 0;
  top: -15px;
  width: 36px;
}
.done {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2;
  font-weight: 800;
  font-size: 1.2em;
}

.urlData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5em;
}

.urlData p {
  color: var(--blue);
  font-size: larger;
}

.urlData h1 {
  font-size: clamp(1.6em, 3vw, 2.5em);
  font-family: var(--kg-font);
  font-weight: 100;
}

.edit {
  display: flex;
  gap: 1em;
  justify-self: end;
  height: fit-content;
  font-size: large;
}
.edit button {
  --clr: transparent;
  border: 3px solid var(--clr);
  color: white;
  padding: 0.4em 0.65em;
  border-radius: 50px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  transition: background-color 0.15s ease;

  &:hover,
  &:focus-visible {
    background-color: var(--clr);
  }
}
.edit button:first-child {
  --clr: var(--green);
}

.edit button:last-child {
  --clr: var(--pink);
}

@media screen and (max-width: 512px) {
  .galery {
    place-items: center;
  }

  .main {
    grid-template-rows: 1fr auto;
    gap: 3em;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100%;
  }
}

@media screen and (max-width: 750px) {
  .galery {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .header a p {
    display: none;
  }
  .done > p:first-child {
    display: none;
  }

  .done {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }
  .edit {
    flex-direction: column;
    justify-content: space-around;
  }
  .edit > * {
    width: 100%;
  }
}
