.main {
  display: grid;
  padding: 2em;
  gap: 1em;
  width: 100%;
}

.galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding-top: 2em;
  gap: 2em;
  width: 100%;
}

.galery li button {
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  right: 0;
  height: fit-content;
  color: var(--red);
  background-color: white;
  padding: 0;
  width: 2.7em;
  height: 2.7em;
  z-index: 10;
  transition: all 0.2s ease-out;
  translate: 50% -50%;
  border-radius: 50%;
  border: 3px solid var(--red);
  &:hover,
  &:focus-visible {
    background-color: var(--red);
    color: white;
  }
  & span {
    font-size: 3em;
    line-height: 0;
    translate: 0 -0.1em;
  }
}

.galery li img:nth-child(3),
.galery li:not(:has(button)) img:nth-child(2),
.galery li:has(button) img:nth-child(4) {
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 35px;
  height: 35px;
  border-radius: 0;
  object-fit: contain;
  filter: drop-shadow(3px -3px 0px var(--bg));
}

.galery li:not(:has(button)) img:nth-child(3),
.galery li:has(button) img:nth-child(4) {
  bottom: -8px;
  left: 40px;
}

.galery img:hover {
  cursor: pointer;
}
.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.galery > li {
  position: relative;
  width: 100%;
  max-width: 250px;
  list-style-type: none;
  aspect-ratio: 1 / 1;
}

.validateSvg {
  z-index: 20;
}
.validateSvg g path {
  stroke: var(--pink);
  fill: transparent;
  filter: brightness(0.5);
  transition: all 0.2s ease-out;
}
.validateSvg:hover g path {
  cursor: pointer;
  filter: brightness(1);
}
.validateSvg[data-validate='1'] g path {
  stroke: var(--green);
  filter: brightness(1);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  height: 200px;
}
.back {
  position: relative;
  display: flex;
  padding-top: 1em;
  padding-left: 3em;
  font-weight: 600;
  font-size: larger;
  height: fit-content;
}
.back em {
  color: var(--blue);
}
.back > img {
  position: absolute;
  rotate: 100deg;
  scale: -1 1;
  left: 0;
  top: -15px;
  width: 36px;
}
.done {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2;
}
.urlData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5em;
}

.urlData p {
  color: var(--blue);
  font-size: larger;
}

.urlData h1 {
  font-size: clamp(1.6em, 3vw, 2.5em);
  font-family: var(--kg-font);
  font-weight: 100;
}

.edit {
  display: flex;
  gap: 1em;
  justify-self: end;
  height: fit-content;
  font-size: large;
}
.edit button {
  --clr: transparent;
  border: 3px solid var(--clr);
  color: white;
  padding: 0.4em 0.65em;
  border-radius: 50px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  transition: background-color 0.15s ease;

  &:hover,
  &:focus-visible {
    background-color: var(--clr);
  }
}
.edit button:first-child {
  --clr: var(--green);
}

.edit button:last-child {
  --clr: var(--pink);
}

@media screen and (max-width: 512px) {
  .galery {
    place-items: center;
  }
}

@media screen and (max-width: 750px) {
  .header a p {
    display: none;
  }
  .done > p:first-child {
    display: none;
  }

  .done {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }
  .edit {
    flex-direction: column;
    justify-content: space-around;
  }
  .edit > * {
    width: 100%;
  }
}
