.header {
  --height: 45px;
  display: grid;
  grid-template-rows: 100px;
  align-items: center;
  height: 100%;
  gap: 1em;
  padding: 1em 4em 1em 5em;
}

.back > img {
  position: absolute;
  rotate: 100deg;
  scale: -1 1;
  left: 1em;
  top: 5px;
  width: 36px;
}

.header nav {
  display: grid;
  gap: 0.5em;
  font-size: clamp(1.2em, 2vw, 1.3em);
}

.header nav > p {
  font-weight: 100;

  font-family: var(--bricolage-semi-condensed-light--font);

  & strong {
    font-family: var(--bricolage-condensed-light--font);
  }
}

.back > p {
  font-weight: 900;
  font-size: clamp(1.3em, 2.2vw, 1.6em);

  font-family: var(--bricolage-condensed-light--font);

  & em {
    font-style: normal;
    color: var(--blue);
  }
}

.header > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & strong {
    color: var(--pink);
  }

  & aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & aside a {
    padding-top: 2.5em;
    text-decoration: underline;
    color: var(--pink);
    padding-bottom: 0.5em;
  }

  & aside p {
    text-align: right;
    font-size: clamp(1.2em, 2vw, 1.3em);
    color: var(--blue);
    font-family: var(--bricolage-condensed-light--font);
    font-weight: 800;
  }
}

.header > div:last-child {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  & > p {
    align-self: end;
  }
}

.header h1 {
  font-size: clamp(2em, 3vw, 3em);
  font-family: var(--kg-font);
  text-align: right;
  font-weight: lighter;
  z-index: -1;
}
.header div:has(h1) div {
  position: relative;
  & svg {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 120%;
    max-height: 150%;
    z-index: 50;
  }
}
.ctaOpen > div:last-child {
  opacity: 1;
  height: var(--height);
  visibility: visible;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: var(--green);
  }
}

.ctaOpen {
  height: calc(var(--height) * 2);
}

@media screen and (max-width: 750px) {
  .header {
    grid-template-rows: auto auto;
    min-height: fit-content;
  }

  .header nav {
    padding: 0;
    height: 100%;
    gap: 2em;

    & > p {
      height: fit-content;
      align-self: end;
    }
  }

  .header a p {
    display: none;
  }

  .header h1 {
    align-self: end;
  }

  .header > div:first-child {
    & aside a {
      padding-top: 0em;
    }
  }
}
