.main {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  padding: 5em 0 5em 7.5em;
}

.text_side {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2em;
  width: 100%;
  z-index: 1;
}

.text_side h1 {
  font-family: var(--kg-font);
  font-weight: 200;
  font-size: clamp(2.5em, 6vw, 4em);
}

.text_side p {
  font-size: clamp(1em, 2vw, 1.5em);
}

.main em {
  color: var(--blue);
  font-style: normal;
}

.url_section {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 3em min-content;
  margin-top: max(3em, 12svh);
  place-self: start;
  column-gap: 1em;
  width: 100%;
}

.url_section h2 {
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 1em;
  grid-area: 1 / 1 / 2 / 3;
  color: black;
  width: fit-content;
  font-family: var(--bricolage-condensed--font);
  height: fit-content;
  width: fit-content;
  font-size: clamp(1em, 2vw, 1.5em);
}

.url_section > div {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  border: 2px solid white;
  width: 100%;
  border-radius: 4em;
  transition: all 0.2s ease-out;
}
.url_section > img {
  place-self: center;
}
.url_section > div button {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--pink);
  transition: all 0.2s ease-out;
  border: none;
}
.url_section > div input {
  height: 50px;
  background-color: transparent;
  border: unset;
  color: white;
  padding: 0.5em 1em;
  font-size: clamp(1em, 2.5vw, 1.5em);
  height: 100%;
  width: 100%;
}

.url_section > div input:focus-visible {
  outline: none;
}
.url_section > div:has(input:invalid) {
  border: 2px solid var(--pink);
}
.url_section > div:has(input:valid) {
  border: 2px solid var(--green);
}
.url_section > div:has(input:valid) button {
  background-color: var(--green);
}

.aside {
  display: grid;
  place-items: center;
  justify-content: end;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content;
  z-index: 0;
}
.aside img {
  height: auto;
}
.aside img:first-child {
  rotate: -25deg;
  translate: 10%;
  aspect-ratio: 3 / 2;
  width: clamp(150px, 20svw, 400px);
}
.aside img:nth-child(2) {
  rotate: 20deg;
  width: clamp(150px, 20svw, 400px);
  justify-self: center;
}
.aside img:last-child {
  translate: -30% -10%;
  width: clamp(200px, 25svw, 550px);
  height: auto;
  aspect-ratio: 1 / 1;
}

.aside div {
  rotate: 30deg;
  align-self: center;
}

.square {
  width: clamp(100px, 15vw, 275px);
  aspect-ratio: 3 / 2;
  background-color: var(--green);
  border: 0.5em solid white;
}

@media screen and (max-width: 1000px) {
  .url_section {
    margin-top: 0em;
  }
  .text_side {
    gap: 10px;
  }
  .main {
    grid-template-columns: 100%;
    gap: 2em;
    grid-template-rows: auto 1fr;
    padding: 2em;
  }
  .aside {
    position: relative;
    height: 100%;
    gap: 0;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .aside img:nth-child(2) {
    translate: 0px;
  }
  .aside img:last-child {
    translate: 0;
  }
  .url_section > div {
    max-width: 500px;
  }
  .url_section > div > button {
    padding: 0.5em;
  }
}
