.header {
  padding: 1em 1em 3em 1em;
  font-family: var(--bricolage-condensed--font);
  font-size: 1.5em;
}
.header img {
  rotate: 90deg;
}
.header a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
  transition: all 0.3s ease;
}

.header a:hover {
  gap: 0.2em;
}

.back_to_top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 40px;
  height: 40px;
  z-index: 100;
  background-color: #fff;
  rotate: 180deg;
  padding: 0px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  z-index: 100;
  visibility: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  height: 100%;
  width: 100%;
  padding-inline: 4em;
  padding-block-end: 3em;
  overflow-x: hidden;
}

.main h1 {
  position: relative;
  font-family: var(--kg-font);
  font-size: 2em;
  width: fit-content;
  font-weight: 300;
  font-size: clamp(2.5em, 6vw, 4em);
  white-space: nowrap;
}

.main h1 svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-5%, -50%);
  width: 110%;
  z-index: 10;
}

.main h1 img {
  position: absolute;
  rotate: -35deg;
  right: -1.25em;
  bottom: -0.75em;
}

.head_section {
  display: grid;
  grid-template-columns: 50% 1fr;
  width: 100%;
  gap: 5em;
}

.head_section aside {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  position: relative;
  height: fit-content;
  width: 100%;
}

.head_section aside img {
  height: auto;
  object-fit: contain;

  &:nth-child(3) {
    height: clamp(150px, 10svw, 250px);
    width: auto;
    align-self: center;
    justify-self: center;
    translate: -50% 0;
  }

  &:nth-child(2),
  &:nth-child(3) {
    width: clamp(150px, 10svw, 250px);
  }

  &:last-child {
    translate: -40% 0;
  }

  &:first-child,
  &:last-child {
    width: clamp(250px, 25svw, 400px);
  }
}

.head_section > div {
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: clamp(300px, 100%, 600px);

  & div {
    display: flex;
    gap: 2em;
    flex-direction: column;
    p {
      font-size: 1.4em;
      line-height: 150%;
      text-wrap: balance;
      white-space: wrap;
    }
  }
}

.photos_section {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 5em;
  width: 100%;
}

.photos_section > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3em;
}

.metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photos_section > div:nth-child(even) > article {
  align-items: end;
  text-align: right;
}
.photos_section > div:nth-child(even) > ul {
  flex-direction: row-reverse;
}

.metadata h3 {
  font-family: var(--kg-font);
  font-size: clamp(2em, 4vw, 3em);
  font-weight: 300;
}

.metadata span {
  color: var(--blue);
  font-weight: 300;
}

.metadata div {
  padding-top: 1em;
}

.metadata p {
  font-size: 1.4em;
  line-height: 120%;
}

.collection {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  width: 100%;
}
.collection li {
  display: flex;
  width: max-content;
  min-width: 100%;
  width: 100%;
}

.collection img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  min-width: 0;
}

@media screen and (max-width: 1000px) {
  .main {
    overflow: auto;
  }
  .head_section {
    grid-template-columns: 1fr;
    gap: 3em;
  }
  .head_section aside {
    place-items: center;
  }
  .head_section aside img:last-child,
  .head_section aside img:nth-child(3) {
    display: none;
  }

  .metadata p {
    font-size: 1.4em;
    line-height: 120%;
  }

  .head_section > div div {
    gap: 1em;
  }
  .main h1 img {
    bottom: -1.25em;
  }
}

@media (pointer: coarse) {
  .back_to_top {
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding-inline: 2em;
  }
  .head_section aside img:nth-child(2) {
    display: none;
  }
  .head_section > div div p {
    text-wrap: auto;
  }

  .collection {
    grid-template-columns: 1fr;
  }

  .collection li {
    grid-column: unset !important;
  }
  .back_to_top {
    visibility: visible;
  }
}
